 /* .scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost::-moz-scrollbar {
    display: none;
}

.scrollhost {
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    overflow-x: "auto";
    display: block;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    width: 100%;
    border-spacing: 15px 0px
} */

td {
    padding-left: 1px;
    padding-right: 1px;
    height: 20px;
    border: 1px hidden;
  }

  table {
  table-layout: fixed;
  border-spacing: 5px 0px;
  margin: 0px -15px;
}





td:nth-child(0) {
    font-size: 1px;
}
td:nth-child(1) {
    font-size: 5px;
}
td:nth-child(2) {
    font-size: 10px;
}
td:nth-child(3) {
    font-size: 15px;
}
td:nth-child(4) {
    font-size: 21px;
}
td:nth-child(5) {
    font-size: 25px;
}
td:nth-child(6) {
    font-size: 21px;
}
td:nth-child(7) {
    font-size: 15px;
}
td:nth-child(8) {
    font-size: 10px;
}
td:nth-child(9) {
    font-size: 5px;
}
td:nth-child(10) {
    font-size: 1px;
}
